*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    display: flex;
    text-align: center;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
}
.center{
    width: 350px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    left: 600px;
}
input[type="text"]
{
    height: 80px;
    width: 300px;
    margin-top: 40px;
    background-color:lightgrey;
    border: solid black 1px;
    font-weight: bold;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
}
form .buttons
{
    width: 300px;
    margin: 10px 25px 0 25px;
    padding: 10px 0;
}
input[type="button"]{
    width: 58px;
    height: 55px;
    margin: 5px;
    font-size: 22px;
    line-height: 55px;
    border-radius: 3px;
    border: solid #d9d9d9 1px;
}
.clear, .delete{
    background-color: lightseagreen;
    border: 1px solid darkblue;
    color: white;
}
input[type="button"]:hover{
    background-color: cornflowerblue;
    color: white;
}
input#delete{
    background-color: lightseagreen;
    border: 1px solid darkblue;
    color: white;
    margin-top: 0px;
}
input#delete:hover{
    background-color: cornflowerblue;
    color: white;
}
input#equal{
    width: 200px;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 30px;
    background-color: teal;
    color: white;
}
input#equal:hover{
    background-color: cornflowerblue;
    color: white;
}